@model DetailsVM

<div>
	@Model.ProductName,
	@Model.Image,
	@Model.Description
	@Model.Created
	@Model.Reserved
</div>
<form asp-controller ="Products" asp-action="Details" asp-route-id="@Model.Id">
	<input type="submit" value="@(Model.Reserved ? "Avboka": "Reservera")" />
</form>

