@model DetailsVM
@using Microsoft.AspNetCore.Identity

<div style="display: flex; justify-content: space-between; padding-top: 5%; padding:4%; box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2); margin: 5% 10% ">
	<div style="display: flex; flex-direction: column; float: right; box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2); width: 33%; height: 100%;">
		<img src="@Model.Image" alt="Image" style="height: 100%; width: 100%;" />
	</div>
	<div style="display: flex; flex-direction: column; justify-content: space-between; float: left; padding-right: 40px; height: 100%; width: 33%; ">
		<div>
			<h2>@Model.ProductName</h2>
			@{
				var createdUser = await userManager.FindByIdAsync(Model.UserId);
				<div style="font-size:small; font-style:italic">Upplagd @Model.Created av @createdUser.UserName</div>
			}
		</div>
		<p>@Model.Description</p>

		<div>
			@if (Model.UserId == userManager.GetUserId(User))
			{
				<a class="login-button" asp-controller="Products" asp-action="Edit" asp-route-id="@Model.Id">Redigera</a>
			}
		</div>
	</div>
	<form asp-controller="Products" asp-action="Details" asp-route-id="@Model.Id" asp-route-reservedBy="@userManager.GetUserId(User)">
		@if (Model.UserId == userManager.GetUserId(User))
		{
			<div>Detta är din annons.</div>
			if (Model.Reserved)
			{
				var reservedUser = await userManager.FindByIdAsync(Model.ReservedBy);
				<div>Varan är reserverad av @reservedUser.UserName</div>
				<input class="login-button" type="submit" value="Ta bort reservation" />
			}
		}
		else if (Model.Reserved)
		{
			<div>Reserverad!</div>
			if (Model.ReservedBy == userManager.GetUserId(User))
			{
				<input class="login-button" style="background-color:red;" type="submit" value="Avboka" />
			}
		}
		else
		{
			<input class="login-button" type="submit" value="Reservera" />
		}

		@if (Model.UserId == userManager.GetUserId(User))
		{
			<a class="login-button" style="background-color:red" asp-controller="Products" asp-action="Delete" asp-route-id="@Model.Id">Ta bort annons</a>
		}
	</form>
</div>



