@model MembersVM[]

<a asp-controller="Products" asp-action="CreateNew">Skapa ny annons</a>

<div>
	<div>Mina annonser</div>
	@foreach (var item in Model)
	{
		if (item.UserId == userManager.GetUserId(User))
		{
			<div>
				<a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.ProductName <img src="@item.Image" alt="@item.ProductName" witdh="50" height="50"></a>
			</div>
		}
	}
</div>
<div>
	<div>Mina reservationer</div>
	@foreach (var item in Model)
	{
		if (item.ReservedBy == userManager.GetUserId(User))
		{
			<div>
				<a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.ProductName <img src="@item.Image" alt="@item.ProductName" witdh="50" height="50"></a>
			</div>
		}
	}
</div>

<partial name="_SearchView"></partial>

