@model MembersVM[]

<div style="display:flex; flex-direction:row; justify-content: space-between;margin:3%">
	<div>
		<h1>Händelser och nyheter</h1>
		<p>Här kommer nyheter och annan information dyka upp och uppdateras regelbundet.</p>
	</div>

	<a class="input-button" style="width:10%; height: 2%; padding: 0.5% 0.2%; margin-top: 1%;" asp-controller="Products" asp-action="CreateNew">Skapa ny annons</a>

	<div class="saker" style="display:flex; flex-direction:row">
		<div class="annonser">
		<h4>Mina annonser</h4>
			@foreach (var item in Model)
			{
				if (item.UserId == userManager.GetUserId(User))
				{
						<div class="product-container">
						@if (item.ReservedBy == null)
						{
							<a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id"> <img src="~/images/röttkryss.png" alt="deleteknapp" width="8" height="8" /></a>
							<a class="productName" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.ProductName</a>
							<div class="productImg"><img src="@item.Image" alt="ProductImage" witdh="50" height="50"></div>
						}
						else
						{
							<a asp-controller="Products" asp-action="Delete" asp-route-id="@item.Id"> <img src="~/images/grön-bock.png" alt="deleteknapp" width="8" height="8" /></a>
							<a style="color: green" class="productName" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.ProductName <span style="color:black; font-style: italic">Bokad</span></a>
							<div class="productImg"><img src="@item.Image" alt="ProductImage" witdh="50" height="50"></div>
						}
						</div>
				}
			}
		</div>
		<div class="ordrar">
		<h4>Mina reservationer</h4>
			@foreach (var item in Model)
			{
				if (item.ReservedBy == userManager.GetUserId(User))
				{
						<div class="product-container">
							<a class="productName" asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.ProductName</a>
							<div class ="productImg"><img src="@item.Image" alt="@item.ProductName" witdh="50" height="50"></div>
						</div>
				}
			}
		</div>
	</div>
</div>

<partial name="_SearchView"></partial>

